<p style="color: green"><%= notice %></p>

<h1>Breweries</h1>

<%= link_to "New brewery", new_brewery_path %>

<div id="breweries">
  <% @breweries.each do |brewery| %>
    <%= render brewery %>
  <% end %>
</div>

